header {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#333, #999);
  h1 {
    color: white;
    font-size: 40px;
    font-family: Arial, sans-serif;
  }
  .header-links {
    display: flex;
    position: absolute;
    bottom: 0;
    a {
      font-family: Arial, sans-serif;
      background: white;
      padding: 10px;
      color: black;
      margin: 5px 20px;
      text-decoration: none;
      border-radius: 5px;
    }
  }
}
