main {
  width: 100%;
  background: url('../../images/subtle-noise.png');
}

ui-view {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.itemList {
  width: 80%;
  border: 2px solid black;

  .listTitle {
    li {
      background: lightblue;
      color: black;
      transition: all .3s ease;
    }
    li:hover {
      display: flex;
      justify-content: space-between;
      z-index: 10;
      background: navy;
      color: white;
      transition: all .3s ease;
      &:after {
        content: '(sort by)';
      }
    }
  }

  .item {
    &:nth-child(odd) {
      background: beige;
      input {
        background: beige;
      }
    }
    &:nth-child(even) {
      background: white;
      input {
        background: white;
      }
    }
  }

  .itemInfo {
    display: flex;
    position: relative;
    form {
      display: flex;
      width: 100%;
    }
    li, input, .price {
      position: relative;
      padding: $vspace $hspace;
      border: 1px solid gray;
      width: 25%;
      font-size: 20px;
      font-family: Arial, sans-serif;
      img {
        position: absolute;
        top: 50%;
        right: $hspace;
        transform: translate(0, -50%);
      }
    }
    input:focus {
      z-index: 10;
      outline: 3px solid blue;
      box-shadow: 0 0 10px black;
    }
    button {
      position: absolute;
      width: 75px;
      right: -100px;
      background: lightgreen;
      border: 1px solid gray;
      border-radius: 5px;
      height: 100%;
      font-size: 15px;
      font-family: Arial, sans-serif;
      transition: all 2s ease;
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
