.newItemInfo {
  width: 100%;
  margin: 100px 0;
  h1 {
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .newInputs, .inputLabels {
    display: flex;
    label {
      padding-left: 5px;
      width: 20%;
    }
    input {
      padding: 5px;
      &.ng-invalid {
        box-shadow: 0 0 10px red;
      }
    }
  }
  button {
    font-family: Arial, sans-serif;
    width: 20%;
    background: white;
    padding: 10px;
    color: black;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    &:disabled {
      cursor: not-allowed;
    }
  }
}
